<h3>Honest Review Navigation</h3
<div>
      <div id='new_review'>
      <a href ='/review/new'class="bttn">New Review</a>
    </div>
  <div class="container">
    <table class="review_table">
        <thead>
            <tr>
                <th id='header_table'>Business's</th>
            </tr>
        </thead>
        <tbody>
                <% @reviews.each do |review| %>
                    <%= erb :"user/_review", locals: {review: review} %>
                <% end %>
        </tbody>
    </table>
  </div>


  <div class="container">
    <div id='new_employee'>
      <a href ='/employee/new'class="bttn">New Employee</a>
    </div>
    <table class="employee_table">
        <thead>
            <tr>
                <th id='header_table'>Employees</th>
            </tr>
        </thead>
        <tbody>
                <% @employees.each do |employee| %>
                <tr>
                    <td><a href= "/employee/<%= employee.id %>"<%= employee.store_name %></a></td>
                    <td><%= employee.updated_at.strftime("%m/%d/%Y at %I:%M %p")%></td>
                    <td><a href="/employee/<%= employee.id %>"><%= employee.store_name %>-<%= employee.name %></a> - <a href="/user/<%=session[:user_id] %>/employee/<%= employee.id %>/delete">Delete</a>-<a href='/employee/<%= employee.id %>/edit'> Edit</a></td>
                </tr>
                <% end %>
        </tbody>
    </table>
  </div>
</div>

